$main-color: #6a0fc0;
$secondary-color: #bb0707;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-purple-gradient: linear-gradient(
	45deg,
	rgba(213, 9, 253, 0.3),
	rgba(115, 8, 255, 0.3)
);
$blue-gradient: linear-gradient(
	45deg,
	rgba(20, 105, 241, 0.75),
	rgba(42, 10, 184, 0.75)
);
$purple-gradient: linear-gradient(
	45deg,
	rgba(190, 10, 214, 0.3),
	rgba(68, 0, 255, 0.3)
);
$red-gradient-solid: linear-gradient(
	45deg,
	rgb(219, 9, 9),
	rgb(133, 21, 21)
);
$light-red-gradient-solid: radial-gradient(
	circle at top right,
	rgb(129, 21, 21) 0%,
	rgb(202, 43, 43) 100%,
);
