@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 225, 225, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-image: $red-gradient-solid;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $pure-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $pure-white;
			transition: transform 0.3s;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 80vh;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/planet.jpg');
	background-attachment: scroll;

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		font-weight: 300;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: $pure-white;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}

// MAIN
// DREAMS SECTION

.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
		padding-right: 2.5em;
		padding-left: 2.5em;
	}
	&__title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4em;
	}
}

// HERO-IMG

.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages('../img/mars.png');
	text-align: center;
	color: $pure-white;
	overflow: hidden;

	&__title {
		font-family: 'Dancing Script', cursive;
		margin-bottom: 0.5em;
		font-size: 4.8rem;

		&_text {
			padding: 1em 0;
		}
	}
}

// ATTRACTIONS

.attractions {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.attractions__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.attractions__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: $light-purple-gradient, url('../img/phobos-gadf36ce5d_1920.jpg');
			}
			&--second {
				background-image: $purple-gradient, url('../img/nasa-whDrFMucHkc-unsplash.jpg');
			}
			&--third {
				background-image: $light-purple-gradient, url('../img/nasa-E7q00J_8N7A-unsplash.jpg');
			}

			&-title {
				font-family: 'Dancing Script', cursive;
				font-size: 2.8rem;
			}
			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $light-red-gradient-solid;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				@include attractionCardStyles;
				top: 0.8em;
				font-family: 'Dancing Script', cursive;
				font-size: 2.8rem;
			}

			&-list {
				@include attractionCardStyles;
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid $light-white;

					&:last-child {
						border-bottom: none;
					}
				}
			}
			&-btn {
				@include attractionCardStyles;
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 50%;
				border: none;
				background-color: $main-color;
				cursor: pointer;

				&::before {
					background-color: $green-color-hover;
				}
			}
		}
	}
}

// MEDIA

@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}
			&-img {
				width: 45%;
				&--right {
					order: 1;
				}
			}
		}
		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}

	.header {
		&__heading {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}

	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}

	.hero-img {
		padding: 30rem 2em;

		hr {
			margin: 0 auto;
			width: 70%;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
}

@media (min-width: 992px) {
	.burger.btn {
		top: 50px;
		right: 50px;
	}
	.header {
		background-image: $purple-gradient, url(../img/planet.jpg);
	}
	&__heading {
		font-size: 10rem;
	}

	.nav {
		&__item {
			font-size: 4.8rem;
		}
	}
	.dreams {
		&__box {
			margin: 5em 0;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}

	.hero-img {
		padding: 40rem 2em;
		background-image: $purple-gradient, url('../img/mars.png');

		&__title {
			font-size: 7.2rem;
		}

		hr {
			width: 60%;
			min-width: 900px;
		}
	}
}
